/*ModalAgentes.css*/


.modal-content {
  background: -webkit-linear-gradient(to right, #2B32B2, #1488CC); 
  background: linear-gradient(to right, #2B32B2, #1488CC); 
  
  width: 542px;
  height: 35vh;
  margin: 10vh auto;
  position: relative;
  color: black;
}

.new-header {
    height: 42px;
    display: flex;
    padding-left: 10px;
    align-items: center;
    background: #092178;
  }
  .new-header__text {
    font-weight: 700;
    font-size: 17px;
    font-family: 'Noto Sans';
    color: #fff;
    flex: 1;
    color: yellow;
  }
  .new-header__img {
    width: auto;
    height: 30px;
    margin-right: 5px;
  }
 .new-container-ch {
    background: orange;
  }
  .formulario{
  
  display: flex;
  align-items: center;
  margin: auto;
 justify-content: center;
 
}

 .titulo {
    color:black;
   text-align: center;
}

 .footer {
    height: 75px;
    background: orange;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__button {
    font-size: 12px;
    padding: 0 8px;
    line-height: 10px;
    background: rgb(240, 240, 240);
    margin-right: 10px;
    height: 16px;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px #0005b0, 2px 2px 2px 0px white,
      inset 0 0 0 1px skyblue, inset 2px -2px skyblue;
    border: none;
    outline: none;
   
  }

