.reviews__content__inner {
    display: flex;
  }

   .reviews__content__left_huagsm {
    width: 220px;
    height: 100%;
    background: linear-gradient(to bottom, #748aff 0%, #4057d3 100%);
    overflow: auto;
    padding: 10px;
  }

   .reviews__content__left_huaumts {
    width: 220px;
    height: 100%;
    background: linear-gradient(to bottom, #2f7909 0%, #09792b 100%);
    overflow: auto;
    padding: 10px;
  }
  .reviews__content__left_flexent {
    width: 220px;
    height: 100%;
    background: linear-gradient(to bottom, #790e09 0%, #794509 100%);
    overflow: auto;
    padding: 10px;
  }
.reviews__content__left__card__row__div {
    background-color: white;
    color: black;
    margin-left: 6px;
    width: 180px;
    font-weight: 700;
    font-size: 13px;
  }
